@use '../styles/partials/variables' as *;

@font-face {
    font-family: 'Avenir Next Regular';
    src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
    src: url("../assets/fonts/Alternative\ files/AvenirNextLTPro-Regular") format();
    font-weight: 400;
}
.normal {
    font-family: 'Avenir Next Regular';
    font-weight: 400;
}
@font-face {
    font-family: 'Avenir Next Demi';
    src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
    src: url("../assets/fonts/Alternative\ files/AvenirNextLTPro-Demi") format();
    font-weight: 600;
}
.demi {
    font-family: 'Avenir Next Demi';
    font-weight: 600;
}
@font-face {
    font-family: 'Avenir Next Bold';
    src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
    src: url("../assets/fonts/Alternative\ files/AvenirNextLTPro-Bold") format();
    font-weight: 700;
}
.bold {
    font-family: 'Avenir Next Bold';
    font-weight: 700;
}

// should all these font styles be kept in a separate partial

* {
    border: 1px red dotted;
}

body {
    margin: 0px;
}

@mixin nav-bar-style {
    color: $primary-white;
    text-align: center;
}

.nav-bar {
    background-color: $primary-black;
    margin: 0px;

    &__heading {
        font-size: 24px;
        line-height: 32px;
        @include nav-bar-style;
    }

    &__subheading {
        display: flex;
        width: 100%;
    }

    &__subheading--biography,
    &__subheading--shows {
        width: 50%;
        font-size: 14px;
        line-height: 22px;
        @include nav-bar-style;
    }
}



.hero {

    &__image {
        width: 100%;
    }
    
    &__title {
        color: $primary-white;
        font-size: 24px;
        line-height: 32px;
        position: absolute;
        top: 146px;
        left: 10px;
    }
}
