@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../assets/fonts/Alternative files/AvenirNextLTPro-Regular") format();
  font-weight: 400;
}
.normal {
  font-family: "Avenir Next Regular";
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next Demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  src: url("../assets/fonts/Alternative files/AvenirNextLTPro-Demi") format();
  font-weight: 600;
}
.demi {
  font-family: "Avenir Next Demi";
  font-weight: 600;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../assets/fonts/Alternative files/AvenirNextLTPro-Bold") format();
  font-weight: 700;
}
.bold {
  font-family: "Avenir Next Bold";
  font-weight: 700;
}

body {
  margin: 0px;
}

.nav-bar {
  background-color: #323232;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.nav-bar__heading {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 13px;
}
.nav-bar__subheading {
  display: flex;
  width: 100%;
}
.nav-bar__subheading--biography {
  width: 50%;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  justify-content: center;
  font-size: 14px;
  line-height: 22px;
  border-bottom: 4px white solid;
  padding-bottom: 7px;
}
.nav-bar__subheading--shows {
  width: 50%;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  justify-content: center;
  font-size: 14px;
  line-height: 22px;
}
.nav-bar__subheading--linkstyle {
  text-decoration: none;
}
@media (min-width: 768px) {
  .nav-bar {
    flex-direction: row;
    height: 72px;
  }
  .nav-bar__heading {
    padding-top: 27px;
    padding-left: 38px;
  }
  .nav-bar__subheading {
    padding-top: 1px;
    width: 114px;
  }
  .nav-bar__subheading--biography {
    position: relative;
    font-family: "Avenir Next Demi";
    top: 21px;
    left: 60px;
    border-bottom: 3px white solid;
    padding-bottom: 35px;
    height: 10px;
  }
  .nav-bar__subheading--shows {
    position: relative;
    left: 122px;
    top: 21px;
  }
}
@media (min-width: 1280px) {
  .nav-bar {
    height: 85px;
  }
  .nav-bar__heading {
    padding-top: 31px;
    padding-left: 116px;
  }
  .nav-bar__subheading {
    padding-top: 1px;
    padding-bottom: 45px;
    display: flex;
    width: 114px;
  }
  .nav-bar__subheading--biography, .nav-bar__subheading--shows {
    top: 25px;
    left: 54px;
  }
  .nav-bar__subheading--biography {
    font-family: "Avenir Next Demi";
    border-bottom: white 3px solid;
  }
  .nav-bar__subheading--shows {
    left: 83px;
  }
}

.hero__image {
  width: 100%;
  position: relative;
  height: 187px;
}
.hero__image--overlay {
  position: absolute;
  height: 187px;
  top: 79px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 1;
}
.hero__title {
  color: #FFFFFF;
  top: 72px;
  left: 10px;
  position: absolute;
  transform: translateY(-50%);
  font-size: 24px;
  line-height: 32px;
  z-index: 2;
}
@media (min-width: 768px) {
  .hero__image {
    height: 449px;
  }
  .hero__image--overlay {
    top: 72px;
    height: 449px;
  }
  .hero__title {
    font-size: 60px;
    line-height: 68px;
    top: 157px;
    left: 40px;
  }
}
@media (min-width: 1280px) {
  .hero__image {
    height: 628px;
  }
  .hero__image--overlay {
    top: 85px;
    height: 628px;
  }
  .hero__title {
    top: 238px;
    left: 103px;
  }
}

.biography {
  padding-left: 16px;
  padding-right: 28px;
  margin: 0px;
}
.biography__title {
  padding-top: 13px;
  padding-bottom: 12px;
  color: #323232;
  font-size: 24px;
  line-height: 32px;
}
.biography__image {
  width: 100%;
  height: 157px;
}
.biography__image--description {
  font-size: 13px;
  line-height: 18px;
  font-size: 13.5px;
  line-height: 22px;
  color: #323232;
}
.biography__image--description--text {
  margin-bottom: 5px;
  padding-top: 16px;
  margin: 0px;
  color: #323232;
}
.biography__image--description--signature {
  padding-top: 4px;
  padding-bottom: 17px;
  margin: 0px;
  color: #323232;
}
.biography__subtitle {
  font-size: 14px;
  line-height: 22px;
  margin: 0px;
  color: #000000;
}
.biography__content {
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
  color: #323232;
  padding-top: 7px;
}
@media (min-width: 768px) {
  .biography {
    padding-left: 87px;
    padding-right: 87px;
  }
  .biography__title {
    font-size: 36px;
    line-height: 44px;
    padding-top: 48px;
    padding-bottom: 27px;
    position: relative;
    right: 58px;
  }
  .biography__image {
    height: 307px;
  }
  .biography__image--description {
    padding-top: 7px;
  }
  .biography__image--description--text {
    font-size: 23px;
    line-height: 32px;
    font-family: "Avenir Next Demi";
  }
  .biography__image--description--signature {
    font-size: 14px;
    line-height: 22px;
    padding-top: 12px;
  }
  .biography__subtitle {
    font-size: 24px;
    line-height: 32px;
    padding-top: 36px;
    padding-bottom: 4px;
    font-family: "Avenir Next Demi";
  }
  .biography__content {
    display: flex;
    padding-bottom: 16px;
  }
  .biography__content--left {
    font-size: 14px;
    line-height: 22px;
    padding-right: 19px;
    line-height: 23.2px;
  }
  .biography__content--right {
    font-size: 14px;
    line-height: 22px;
    padding-left: 28px;
    line-height: 23.2px;
  }
}
@media (min-width: 1280px) {
  .biography {
    padding-left: 87px;
    padding-right: 87px;
  }
  .biography__title {
    font-size: 36px;
    line-height: 44px;
    padding-top: 48px;
    padding-bottom: 27px;
    position: relative;
    left: 32px;
    font-size: 34px;
  }
  .biography__image {
    height: 454px;
    padding: 0px 117px 10px 117px;
    width: 77%;
  }
  .biography__image--description {
    padding-top: 7px;
    padding-left: 117px;
    padding-right: 117px;
    width: 61%;
  }
  .biography__image--description--text {
    font-size: 21px;
    line-height: 31px;
    font-family: "Avenir Next Demi";
  }
  .biography__image--description--signature {
    font-size: 14px;
    line-height: 22px;
    padding-top: 12px;
  }
  .biography__subtitle {
    font-size: 24px;
    line-height: 32px;
    padding-top: 32px;
    padding-bottom: 0px;
    position: relative;
    left: 116px;
    font-family: "Avenir Next Demi";
  }
  .biography__content {
    display: flex;
    padding-bottom: 16px;
    padding-left: 59px;
    padding-right: 0px;
    width: 83%;
  }
  .biography__content--left {
    font-size: 14px;
    line-height: 22px;
    padding-right: 2px;
    line-height: 23px;
  }
  .biography__content--right {
    font-size: 14px;
    line-height: 22px;
    padding-left: 24.5px;
    line-height: 23px;
  }
}

.gallery {
  padding-left: 16px;
  padding-right: 16px;
  background-color: #FAFAFA;
}
.gallery__title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0px;
  padding-top: 20px;
  color: #323232;
}
.gallery__images {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6.5px;
}
@media (min-width: 768px) {
  .gallery {
    padding: 25px;
  }
  .gallery__title {
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 12px;
    margin-top: 0px;
  }
  .gallery__images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  .gallery__images--individual {
    width: 30%;
    padding: 11px;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 26px 112px 16px 112px;
  }
  .gallery__title {
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 12px;
    margin-top: 0px;
    position: relative;
    left: 9px;
  }
  .gallery__images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  .gallery__images--individual {
    width: 31%;
    padding: 11px;
  }
}

.footer {
  color: white;
  background-color: #323232;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.footer__contacts--padding {
  padding-top: 1px;
}
.footer__title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 11px;
  margin-top: 8px;
}
.footer__socials {
  display: flex;
  margin-top: 4px;
  margin-bottom: -2px;
}
.footer__socials--instagram {
  width: 22px;
  height: 26px;
}
.footer__socials--facebook {
  padding-left: 30px;
  padding-right: 30px;
  width: 12px;
  height: 24px;
}
.footer__socials--twitter {
  width: 27px;
  height: 26px;
}
.footer__bees-knees {
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 18px;
}
.footer__limitless {
  margin-top: 14px;
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 18px;
}
.footer__arch {
  margin-top: 12px;
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 18px;
}
.footer__link {
  text-decoration: none;
  color: white;
}
.footer__logo {
  padding-top: 35px;
  padding-bottom: 5px;
}
.footer__copyright {
  font-size: 10px;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .footer {
    padding: 30px;
    height: 311px;
  }
  .footer__title__socials {
    display: flex;
    padding-top: 8px;
    align-items: center;
  }
  .footer__title {
    font-size: 36px;
    line-height: 44px;
  }
  .footer__socials {
    position: relative;
    left: 35px;
  }
  .footer__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
  }
  .footer__bees-knees--location {
    padding-top: 17px;
    padding-bottom: 16px;
  }
  .footer__limitless {
    position: relative;
    bottom: 5px;
  }
  .footer__limitless--location {
    padding-top: 17px;
    padding-bottom: 16px;
  }
  .footer__arch--location {
    padding-top: 17px;
    padding-bottom: 16px;
  }
  .footer__arch--title {
    margin-top: 4px;
  }
  .footer__logo {
    position: absolute;
    left: 617px;
    bottom: -1304px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 19px;
    height: 311px;
    padding-left: 128px;
  }
  .footer__title__socials {
    display: flex;
    padding-top: 9px;
    align-items: center;
  }
  .footer__title {
    font-size: 36px;
    line-height: 44px;
  }
  .footer__socials {
    position: relative;
    top: 0px;
    left: 57px;
  }
  .footer__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 718px;
    font-size: 14px;
    line-height: 20px;
  }
  .footer__contacts--padding {
    padding-top: 13px;
  }
  .footer__bees-knees--location {
    padding-top: 17px;
    padding-bottom: 16px;
  }
  .footer__limitless {
    position: relative;
    bottom: 1px;
  }
  .footer__limitless--location {
    padding-top: 17px;
    padding-bottom: 16px;
  }
  .footer__arch--location {
    padding-top: 17px;
    padding-bottom: 16px;
  }
  .footer__logo {
    position: absolute;
    left: 617px;
    bottom: -1304px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 20px;
  }
}/*# sourceMappingURL=bio.css.map */