@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../assets/fonts/Alternative files/AvenirNextLTPro-Regular") format();
  font-weight: 400;
}
.normal {
  font-family: "Avenir Next Regular";
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next Demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  src: url("../assets/fonts/Alternative files/AvenirNextLTPro-Demi") format();
  font-weight: 600;
}
.demi {
  font-family: "Avenir Next Demi";
  font-weight: 600;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../assets/fonts/Alternative files/AvenirNextLTPro-Bold") format();
  font-weight: 700;
}
.bold {
  font-family: "Avenir Next Bold";
  font-weight: 700;
}

body {
  margin: 0px;
}

.nav-bar {
  background-color: #323232;
  margin: 0px;
}
.nav-bar__heading {
  font-size: 24px;
  line-height: 32px;
  font-family: "Avenir Next Regular";
  text-align: center;
  color: #FFFFFF;
}
.nav-bar__subheading {
  display: flex;
  width: 100%;
}
.nav-bar__subheading--biography, .nav-bar__subheading--shows {
  width: 50%;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 22px;
}

.hero__image {
  width: 100%;
  position: relative;
  height: 200px;
}
.hero__title {
  color: #FFFFFF;
  top: 139px;
  left: 10px;
  position: absolute;
  transform: translateY(-50%);
  font-size: 24px;
  line-height: 32px;
}

.biography {
  padding-left: 16px;
  padding-right: 28px;
}
.biography__title {
  padding-top: 24px;
  padding-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
}
.biography__image {
  width: 100%;
}
.biography__image--description {
  font-size: 13px;
  line-height: 18px;
  font-size: 13.5px;
  line-height: 22px;
}
.biography__subtitle {
  font-size: 14px;
  line-height: 22px;
}
.biography__content {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 0px;
}

.gallery {
  padding-left: 16px;
  padding-right: 16px;
  background-color: #FAFAFA;
}
.gallery__title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0px;
  padding-top: 20px;
  color: #323232;
}
.gallery__images {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6.5px;
}

.footer {
  color: white;
  background-color: #323232;
  padding: 16px;
}
.footer__title {
  font-size: 24px;
  line-height: 32px;
}
.footer__socials {
  display: flex;
}
.footer__socials--instagram {
  width: 27px;
  height: 26px;
}
.footer__socials--facebook {
  padding-left: 22px;
  padding-right: 22px;
  width: 15px;
  height: 26px;
}
.footer__socials--twitter {
  width: 29px;
  height: 26px;
}
.footer__bees-knees {
  margin-top: 5px;
  font-size: 13px;
  line-height: 18px;
}
.footer__bees-knees--location {
  font-size: 13px;
  line-height: 18px;
}
.footer__bees-knees--email {
  font-size: 13px;
  line-height: 18px;
}
.footer__limitless {
  margin-top: 5px;
  font-size: 13px;
  line-height: 18px;
}
.footer__limitless--location {
  font-size: 13px;
  line-height: 18px;
}
.footer__limitless--email {
  font-size: 13px;
  line-height: 18px;
}
.footer__arch {
  margin-top: 5px;
  font-size: 13px;
  line-height: 18px;
}
.footer__arch--location {
  font-size: 13px;
  line-height: 18px;
}
.footer__arch--email {
  font-size: 13px;
  line-height: 18px;
  padding-top: 3px;
}
.footer__logo {
  padding-top: 31px;
}
.footer__copyright {
  font-size: 10px;
  line-height: 20px;
  margin-top: 8px;
}/*# sourceMappingURL=bio.css.map */