@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;
@use '../styles/partials/fonts' as *;

body {
    margin: 0rem;
    overflow-x: hidden;
}
// * {
//     // margin: 0rem;
//     overflow-x: hidden;
// }
// * {
//     border: red 1px dotted;
// }

.nav-bar {
    background-color: $primary-black;
    display: flex;
    flex-direction: column;

    &__heading {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 13px;
    }

    &__subheading {
        display: flex;
        width: 100%;

        &--hover {
            transition: 0.5s;
        }

        &--hover:hover {
            border-bottom: 4px white solid;
            padding-bottom: 7px;
        }

        &--biography {
            width: 50%;
            font-size: 0.875rem;
            line-height: 1.375rem;
            text-align: center;
            color: $primary-white;
            justify-content: center;
            @include subheader-mobile;
            border-bottom: 4px white solid;
            padding-bottom: 7px;
        }

        &--shows {
            width: 50%;
            font-size: 0.875rem;
            line-height: 1.375rem;
            text-align: center;
            color: $primary-white;
            justify-content: center;
            @include subheader-mobile;
        }

        &--linkstyle {
            text-decoration: none;
        }
    }

    @include tablet {
        flex-direction: row;
        height: 4.5rem;

        &__heading {
            padding-top: 27px;
            padding-left: 38px;
        }

        &__subheading {
            padding-top: 1px;
            width: 7.125rem;

            &--hover:hover {
                border-bottom: 10px white solid;
                padding-bottom: 40px;
            }

            &--biography {
                position: relative;
                font-family: 'Avenir Next Demi';
                top: 21px;
                left: 60px;
                border-bottom: 3px white solid;
                padding-bottom: 35px;
                height: 0.625rem;
            }

            &--shows {
                position: relative;
                left: 122px;
                top: 21px;
            }
        }
    }

    @include desktop {
        height: 5.3125rem;

        &__heading {
            padding-top: 31px;
            padding-left: 116px;
        }

        &__subheading {
            padding-top: 1px;
            padding-bottom: 45px;
            width: 7.125rem;

            &--hover:hover {
                border-bottom: 3px white solid;
                padding-bottom: 55px;
            }

            &--biography {
                font-family: 'Avenir Next Demi';
                border-bottom: white 3px solid;
                top: 25px;
                left: 54px;
            }

            &--shows {
                left: 83px;
                top: 25px;
            }
        }
    }
}


.hero {
    height: 11.6875rem;
    width: 100%;
    background: rgba(50, 50, 50);
    overflow: hidden;
    display: flex;

    &__image {
        object-fit: cover;
        height: 11.6875rem;
        width: 100%;
        opacity: 0.5;
        position: absolute;
    }

    &__content {
        padding-left: 15px;
        display: flex;
        align-items: center;

        &--title {
            color: $primary-white;
            position: absolute;
            @include page-header-section-header-mobile;
            
            
        }
    }

    @include tablet {
        height: 28.0625rem;

        &__image {
            height: 28.0625rem;
        }

        &__content {
            padding-left: 43px;

            &--title {
                @include page-header-desktop;
            }
        }
    }

    @include desktop {
        height: 39.25rem;

        &__image {
            height: 39.25rem;
        }
        &__content {
            padding-left: 134px;
        }
    }

    // &__image {
    //     width: 100%;
    //     position: relative;
    //     height: 11.6875rem;
    //     object-fit: cover;

    //     &--overlay {
    //         position: absolute;
    //         height: 11.6875rem;
    //         top: 79px;
    //         left: 0;
    //         right: 0;
    //         bottom: 0;
    //         background-color: rgba(50, 50, 50, 0.5);
    //         z-index: 1;
    //     }
    // }
    
    // &__title {
    //     color: $primary-white;
    //     top: 72px;
    //     left: 10px;
    //     position: absolute;
    //     -ms-transform: translateY(-50%);
    //     transform: translateY(-50%);
    //     @include page-header-section-header-mobile;
    //     z-index: 2;
    // }

    // @include tablet {

    //     &__image {
    //         height: 28.0625rem;

    //         &--overlay {
    //             top: 72px;
    //             height: 28.0625rem;
    //         }
    //     }

    //     &__title {
    //         @include page-header-desktop;
    //         top: 157px;
    //         left: 40px;
    //     }
    // }

    // @include desktop {

    //     &__image {
    //         height: 39.25rem;

    //         &--overlay {
    //             top: 85px;
    //             height: 39.25rem;
    //         }
    //     }

    //     &__title {
    //         top: 238px;
    //         left: 103px;
    //     }
    // }
}

.biography {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0px;

    &__title {
        padding-top: 13px;
        padding-bottom: 12px;
        color: $primary-black;
        @include page-header-section-header-mobile;
    }

    &__image {
        width: 100%;
        height: 30%;
        object-fit: cover;
        
        &--description {
            @include body-copy-mobile;
            font-size: 0.8438rem;
            line-height: 1.375rem;
            color: $primary-black;

            &--text {
                padding-top: 16px;
                margin: 0px;
                color: $primary-black;
            }

            &--signature {
                padding-top: 4px;
                padding-bottom: 17px;
                margin: 0px;
                color: $primary-black;
            }
        } 
    }
    
    &__subtitle {
        @include subheader-mobile;
        margin: 0px;
        color: $secondary-dark-black;
        width: 200px
    }

    &__content {
        @include body-copy-mobile;
        margin: 0px;
        color: $primary-black;
        padding-top: 7px;
    }

    @include tablet {
        padding-left: 87px;
        padding-right: 87px;

        &__title {
            
            @include section-header-desktop;
            padding-top: 48px;
            padding-bottom: 27px;
            position: relative;
            right: 58px;
        }

        &__image {

            &--description {
                padding-top: 7px;

                &--text {
                    font-size: 1.4375rem;
                    line-height: 2rem;
                    font-family: 'Avenir Next Demi';
                }

                &--signature {
                    @include body-copy-desktop;
                    padding-top: 12px;
                }
            }
        }

        &__subtitle {
            @include subheader-desktop;
            padding-top: 36px;
            padding-bottom: 4px;
            font-family: 'Avenir Next Demi';
        }

        &__content {
            display: flex;
            padding-bottom: 16px;

           &--left {
            @include body-copy-desktop;
            padding-right: 19px;
            line-height: 1.45rem;
           }

           &--right {
            @include body-copy-desktop;
            padding-left: 28px;
            line-height: 1.45rem;
           }
        }
    }

    @include desktop {

        &__title {
            left: 32px;
            font-size: 2.125rem;
        }

        &__image {
            height: 28.375rem;
            padding: 0px 117px 10px 117px;
            width: 79%;

            &--description {
                padding-left: 117px;
                padding-right: 117px;
                width: 61%;

                &--text {
                    font-size: 1.3125rem;
                    line-height: 1.9375rem;
                }
            }
        }

        &__subtitle {
            padding-top: 32px;
            padding-bottom: 0px;
            position: relative;
            left: 116px;
        }

        &__content {
            display: flex;
            padding-bottom: 16px;
            padding-left: 59px;
            padding-right: 0px;
            width: 83%;

           &--left {
            padding-right: 2px;
           }

           &--right {
            padding-left: 24.5008px;
           }
        }
    }
}

.gallery {
    padding-left: 16px;
    padding-right: 16px;
    background-color: $secondary-alabaster;

    &__title {
        @include page-header-section-header-mobile;
        margin-bottom: 0px;
        padding-top: 20px;
        color: $primary-black;
    }

    &__images {
        width: 100%;
        padding-top: 6px;
        padding-bottom: 6.5px;
    }

    @include tablet {
        padding: 25px;

        &__title {
            @include section-header-desktop;
            padding-bottom: 12px;
            margin-top: 0px;
        }

        &__images {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;

            &--individual {
                width: 30%;
                padding: 11px;
            }
        }
    }

    @include desktop {
        padding: 26px 112px 16px 112px;

        &__title {
            position: relative;
            left: 9px;
        }
    }
}

.join-convo {
    height:fit-content; //do we even need this
    padding: 16px;

    &__title { //prob needs to be moved down
        @include page-header-section-header-mobile;
        margin: 0px;
        padding-bottom: 10px;
    }

    @include tablet {
        padding: 32px;

        &__title {
            @include section-header-desktop;
        }
    }
    
}
.comment {
    display: flex;
    flex-direction: row;

    &__picture {
        padding-right: 16px;

        &--icon {
            display: block;
            height: 36px;
            width: 36px;
            background-color: $secondary-mercury;
            border-radius: 50%;
            position: relative;
            top: 21px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        &--label {
            @include labels-buttons-mobile;
            color: $primary-silver;
        }

        &--field {
            border: 1px solid $secondary-mercury;
            color: $secondary-dark-black;
            padding: 12px;
            margin-bottom: 16px;
            background-color: $secondary-alabaster;
            border-radius: 4px;
            @include body-copy-mobile;

            &::placeholder {
                color: $secondary-dark-black;
                opacity: 1;
            }

            &--comment {
                padding-bottom: 50px;
            }
        }

        &--button {
            // margin-top: 16px;
            background-color: $primary-black;
            color: $primary-white;
            border-radius: 4px;
            padding: 8px;
            @include subheader-mobile;
        }

    }

    @include tablet {
        padding: 16px 64px 0px 64px;

        &__picture {
            &--icon {
                height: 48px;
                width: 48px;
            }
        }

        &__form {

            &--label {
                @include labels-buttons-desktop;
            }

            &--field {
                @include body-copy-desktop;

                &--comment {
                    padding-bottom: 39px;
                }
            }

            &--button {
                // display: flex;
                width: 30%;
                // justify-content: flex-end;
            }
        }






        //icon size is 48px
    }


}

.footer {
    color: $primary-white;
    background-color: $primary-black;
    padding: 16px;
    display: flex;
    flex-direction: column;

    &__contacts--padding {
        padding-top: 1px;
    }

    &__title {
        @include page-header-section-header-mobile;
        margin-bottom: 11px;
        margin-top: 8px;
    }

    &__socials {
        display: flex;
        margin-top: 4px;
        margin-bottom: -2px;

        &--instagram {
            width: 1.375rem;
            height: 1.625rem;
        }

        &--facebook {
            padding-left: 30px;
            padding-right: 30px;
            width: 0.75rem;
            height: 1.5rem;
        }

        &--twitter {
            width: 1.6875rem;
            height: 1.625rem;
        }
    }

    &__bees-knees {
        margin-top: 8px;
        margin-bottom: 15px;
        @include footer-copy-mobile;
    }

    &__limitless {
        margin-top: 14px;
        margin-bottom: 15px;
        @include footer-copy-mobile;
    }

    &__arch {
        margin-top: 12px;
        margin-bottom: 15px;
        @include footer-copy-mobile;
    }

    &__link {
        text-decoration: none;
        color: $primary-white;
    }

    &__logo {

        &--top {
            display: none;
        }

        &--bottom {
            padding-top: 35px;
            padding-bottom: 5px;
        }
    }

    &__copyright {
        @include labels-buttons-mobile;
        margin-top: 8px;
        margin-bottom: 6px;
    }

    @include tablet {
        padding: 30px;
        height: 19.4375rem;

        &__title__socials {
            display: flex;
            padding-top: 8px;
            align-items: center;
            justify-content: space-between;
        }

        &__title {
            @include section-header-desktop;
        }

        &__socials {
            position: relative;
            left: 35px;
        }

        &__contacts {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include footer-copy-desktop
        } 

        &__bees-knees {

            &--location {
                padding-top: 17px;
                padding-bottom: 16px;
            }
        }

        &__limitless {
            position: relative;
            bottom: 5px;

            &--location {
                padding-top: 17px;
                padding-bottom: 16px;
            }
        }

        &__arch {

            &--location {
                padding-top: 17px;
                padding-bottom: 16px;
            }

            &--title {
                margin-top: 4px;
            }
        }

        &__logo {

            &--top {
                display: flex !important;
                flex-direction: row;
            }
    
            &--bottom {
                padding-top: 35px;
                padding-bottom: 5px;
                display: none
            }
        }

        &__copyright {
            @include footer-copy-desktop
        }
    }

    @include desktop {
        padding: 19px;
        height: 21.1875rem;
        padding-left: 128px;

        &__content {
            padding-right: 117px;
        }

        &__title__socials {
            padding-top: 9px;
        }

        &__socials {
            top: 0px;
            left: 57px;
        }

        &__contacts {
            width: 44.875rem;

            &--padding {
                padding-top: 13px;
            }
        } 

        &__limitless {
            bottom: 1px;
        }
    }
}