@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;

@font-face {
    font-family: 'Avenir Next Regular';
    src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
    src: url("../assets/fonts/Alternative\ files/AvenirNextLTPro-Regular") format();
    font-weight: 400;
}
.normal {
    font-family: 'Avenir Next Regular';
    font-weight: 400;
}
@font-face {
    font-family: 'Avenir Next Demi';
    src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
    src: url("../assets/fonts/Alternative\ files/AvenirNextLTPro-Demi") format();
    font-weight: 600;
}
.demi {
    font-family: 'Avenir Next Demi';
    font-weight: 600;
}
@font-face {
    font-family: 'Avenir Next Bold';
    src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
    src: url("../assets/fonts/Alternative\ files/AvenirNextLTPro-Bold") format();
    font-weight: 700;
}
.bold {
    font-family: 'Avenir Next Bold';
    font-weight: 700;
}

// should all these font styles be kept in a separate partial

// * {
//     border: 1px red dotted;
// }

body {
    margin: 0px;
}



.nav-bar {
    background-color: $primary-black;
    margin: 0px;

    &__heading {
        @include page-header-section-header-mobile;
        font-family: 'Avenir Next Regular';
        text-align: center;
        color: $primary-white;
    }
    // this should be a logo from the assets and also a link

    &__subheading {
        display: flex;
        width: 100%;
    }

    &__subheading--biography,
    &__subheading--shows {
        width: 50%;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: $primary-white;
        @include subheader-mobile;
    }
}



.hero {

    &__image {
        width: 100%;
        position: relative;
        height: 200px;
    }
    
    &__title {
        color: $primary-white;
        top: 139px;
        left: 10px;
        position: absolute;
        // top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        @include page-header-section-header-mobile;
    
    }
}

.biography {
    padding-left: 16px;
    padding-right: 28px;

    &__title {
        // padding: 24px 16px 16px 16px;
        padding-top: 24px;
        padding-bottom: 16px;
        @include page-header-section-header-mobile;
    }

    &__image {
        width: 100%;

        &--description {
            @include body-copy-mobile;
            font-size: 13.5px;
            line-height: 22px;
        }
    }
    
    &__subtitle {
        @include subheader-mobile;
    }

    &__content {
        @include body-copy-mobile;
        margin-bottom: 0px;
    }
}

.gallery {
    padding-left: 16px;
    padding-right: 16px;
    background-color: $secondary-alabaster;
    // margin: 0px; these arent helping

    &__title {
        @include page-header-section-header-mobile;
        margin-bottom: 0px;
        padding-top: 20px;
        color: $primary-black;
    }

    &__images {
        width: 100%;
        padding-top: 6px;
        padding-bottom: 6.5px;
        // margin: 0px;
    }
    // notice the small margins between each image - why 
}

.footer {
    color: white;
    background-color: $primary-black;
    padding: 16px;

    &__title {
        @include page-header-section-header-mobile;
    }

    &__socials {
        display: flex;

        &--instagram {
            width: 27px;
            height: 26px;
        }

        &--facebook {
            padding-left: 22px;
            padding-right: 22px;
            width: 15px;
            height: 26px;
        }

        &--twitter {
            width: 29px;
            height: 26px;
        }
    }

    &__bees-knees {
        margin-top: 5px;
        @include footer-copy-mobile;

        &--location {
            @include footer-copy-mobile;
        }

        &--email {
            @include footer-copy-mobile;
        }
    }

    &__limitless {
        margin-top: 5px;
        @include footer-copy-mobile;

        &--location {
            @include footer-copy-mobile;
        }

        &--email {
            @include footer-copy-mobile;
        }
    }

    &__arch {
        margin-top: 5px;
        @include footer-copy-mobile;

        &--location {
            @include footer-copy-mobile;
            
        }

        &--email {
            @include footer-copy-mobile;
            padding-top: 3px;
        }
    }

    &__logo {
        padding-top: 31px;
    }

    &__copyright {
        @include labels-buttons-mobile;
        margin-top: 8px;
    }

}