@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;
@use '../styles/partials/fonts' as *;

body {
    margin: 0rem;
    overflow-x: hidden;
}
main {
    overflow-x: hidden;
}

.nav-bar {

    &__subheading {

        &--hover {
            transition: 0.5s;
        }

        &--hover:hover {
            color: $primary-white; 

        }

        &--biography {
            color: $secondary-mercury; 
        }

        &--shows {
            border-bottom: 4px white solid; 
        }
    }

    @include tablet {

        &__subheading {

            &--hover:hover {
                padding-bottom: 35px; 
                
            }

            &--biography {
                font-family: 'Avenir Next Regular'; 
                padding-bottom: 24px;
            }

            &--shows {
                border-bottom: 3px white solid; 
                padding-bottom: 24px; 
            }
        }
    }

    @include desktop {

        &__subheading {

            &--hover:hover {
                padding-bottom: 45px; 
            }

            &--biography {
                font-family: 'Avenir Next Regular'; 
            }

            &--shows {
                padding-bottom: 33px; 
            }
        }
    }
}

.hero {
    height: 16.75rem;
    width: 100%;
    background: rgba(50, 50, 50);
    overflow: hidden;

    &__image {
        object-fit: cover;
        height: 16.75rem;
        width: 100%;
        opacity: 0.5;
        position: absolute;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 14px;
        height: -webkit-fill-available;


        &__title {
            display: flex;
            flex-direction: column;
            color: white;
            height: 7.25rem;
            padding-bottom: 16px;
    
            &--album {
                @include subheader-mobile;
                position: relative;
                top: 1px;
            }
    
            &--song {
                @include page-header-section-header-mobile;
                position: relative;
                bottom: 24px;
                width: 12.8125rem;
            }
        }
    
        &__soundcloud {
            display: flex;
            height: 5.9375rem;
            z-index: 3;
            top: 220px;
            width: 18rem;
            border-radius: 7px;
        }
    }

    @include tablet {
        height: 30.3125rem;

        &__image {
            height: 30.3125rem;
        }

        &__content {
            padding: 34px;
            height: 26.875rem;
            

            &__title {
                height: 13rem;
                position: relative;
            }

            &__title--album {
                font-size: 1.5rem;
            }

            &__title--song {
                font-size: 3.75rem;
                line-height: 4.375rem;
                bottom: 76px;
                width: 600px;
            }

            &__soundcloud {
                top: 321px;
                height: 8.5rem;
                width: 26rem;
            }
        }
    }

    @include desktop {
        height: 38.875rem;
        display: flex;

        &__image {
            height: 38.875rem;
        }

        &__content {
            display: flex;
            flex-direction: row;
            position: relative;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            height: auto;

            &__title {
                display: flex;
                flex-direction: column;
                position: relative;
                height: 16.1875rem;

                &--song {
                    width: 31.5rem;
                }
            }

            &__soundcloud {
                display: flex;
                position: relative;
                top: 0px;
                max-width: 25rem;
            }
        }
    }
}


.shows-section {
    display: flex;
    flex-direction: column;

    &__title {
        @include page-header-section-header-mobile;
        padding-left: 16px;
        margin-bottom: 0px;
    }

    &__contents {
        height: fit-content;
    }

    @include tablet {
        &__title {
            @include section-header-desktop;
            margin-left: 16px;
            margin-bottom: 36px;
        }
        &__contents {
            max-width: max-content;
        }
    }

    @include desktop {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-evenly;
    }
}

.show {
    padding: 16px 16px 16px 16px;
    border-bottom: 1px solid $secondary-mercury;
    display: flex;
    flex-direction: column;
    background-color: $primary-white;

    &--hover {
        transition: 0.5s;
    }
    &--hover:hover {
        background-color: $secondary-alabaster;
    }

    &--active {
        transition: 0.5s;
    }
    &--active:active {
        background-color: $secondary-mercury;
    }

    &__label {
        @include labels-buttons-mobile;
        color: $primary-silver;
        margin: 0px;
        &--top {
            padding-top: 16px;
        }

        &--bigscreen {
            @include labels-buttons-mobile;
            color: $primary-silver;
            margin: 0px;
            display: none;
        }
    }

    &__info {
        @include body-copy-mobile;
        color: $secondary-dark-black;
        margin: 0px;
        padding-bottom: 15px;
        min-width: 11rem;
    }

    &__button {
        height: 2.5rem;

        &--interior { 
            background-color: $primary-black;
            color: $primary-white;
            border-radius: 4px;
            border: solid black 1px;
            padding: 8px;
            @include subheader-mobile;
            width: 100%;
        }
    }

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        padding: 14px;
        margin-right: 16px;
        margin-left: 16px;
        align-items: baseline;
        
        &__label {
            display: none;

            &--bigscreen {
                display: flex;
                padding-right: 16px;
                padding-left: 16px;
                width: 100%;
                margin-left: 16px;
                margin-left: 16px;
                @include labels-buttons-desktop;

                &--each {
                    min-width: 10.5rem;
                }
            }
        }

        &__info {
            @include body-copy-desktop;
            min-width: 10.5rem;
        }

        &__button {

            &--interior {
                width: 9.375rem;
            }
        }
    }

    @include desktop {

        &__label {

            &--bigscreen {

                &--each {
                    min-width: 13.5rem;
                }
            }
        }
        &__info {
            min-width: 13.5rem;
        }
    }
}

