@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;
@use '../styles/partials/fonts' as *;

body {
    margin: 0rem;
    overflow-x: hidden;
}
main {
    overflow-x: hidden;
}

// * {
//     border: red 1px dotted;
// }

.nav-bar {
    background-color: $primary-black;
    display: flex;
    flex-direction: column;

    &__heading {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 13px;
    }

    &__subheading {
        display: flex;
        width: 100%;

        &--hover {
            transition: 0.5s;
        }

        &--hover:hover {
            border-bottom: 4px white solid;
            padding-bottom: 7px;
            color: $primary-white;

        }

        &--biography {
            width: 50%;
            font-size: 0.875rem;
            line-height: 1.375rem;
            text-align: center;
            color: $primary-white;
            justify-content: center;
            @include subheader-mobile;
            color: $secondary-mercury;
            padding-bottom: 7px;
        }

        &--shows {
            width: 50%;
            font-size: 0.875rem;
            line-height: 1.375rem;
            text-align: center;
            color: $primary-white;
            justify-content: center;
            @include subheader-mobile;
            border-bottom: 4px white solid;
        }

        &--linkstyle {
            text-decoration: none;
        }
    }

    @include tablet {
        flex-direction: row;
        height: 4.5rem;

        &__heading {
            padding-top: 27px;
            padding-left: 38px;
        }

        &__subheading {
            padding-top: 1px;
            width: 7.125rem;
            height: max-content;

            &--hover:hover {
                border-bottom: 3px white solid;
                padding-bottom: 35px;
                
            }

            &--biography {
                position: relative;
                font-family: 'Avenir Next Regular';
                top: 21px;
                left: 60px;
                // border-bottom: 3px white solid;
                padding-bottom: 35px;
                height: 0.625rem;
            }

            &--shows {
                position: relative;
                left: 122px;
                top: 21px;
                border-bottom: 3px white solid;
                padding-bottom: 24px;
            }
        }
    }

    @include desktop {
        height: 5.3125rem;

        &__heading {
            padding-top: 31px;
            padding-left: 116px;
        }

        &__subheading {
            padding-top: 1px;
            padding-bottom: 45px;
            width: 7.125rem;

            &--hover:hover {
                border-bottom: 3px white solid;
                padding-bottom: 45px;
            }

            &--biography {
                font-family: 'Avenir Next Regular';
                // border-bottom: white 3px solid;
                top: 25px;
                left: 54px;
            }

            &--shows {
                left: 83px;
                top: 25px;
                padding-bottom: 33px;
            }
        }
    }
}

.hero {
    height: 268px;
    width: 100%;
    background: rgba(50, 50, 50);
    overflow: hidden;

    &__image {
        object-fit: cover;
        height: 268px;
        width: 100%;
        opacity: 0.5;
        position: absolute;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 14px;
        height: -webkit-fill-available;


        &__title {
            display: flex;
            flex-direction: column;
            color: white;
            height: 116px;
            padding-bottom: 16px;
    
            &--album {
                @include subheader-mobile;
                position: relative;
                top: 1px;
            }
    
            &--song {
                @include page-header-section-header-mobile;
                position: relative;
                bottom: 24px;
                width: 205px;
            }
        }
    
        &__soundcloud {
            display: flex;
            height: 95px;
            z-index: 3;
            top: 220px;
            width: 288px;
            border-radius: 7px;
        }
    }

    @include tablet {
        height: 485px;

        &__image {
            height: 485px;

        }

        &__content {
            padding: 34px;
            height: 430px;
            

            &__title {
                height: 208px;
                position: relative;
            }

            &__title--album {
                font-size: 24px;
            }

            &__title--song {
                font-size: 60px;
                line-height: 70px;
                bottom: 76px;
                width: 600px;
            }

            &__soundcloud {
                top: 321px;
                height: 136px;
                width: 416px;
            }
        }
    }

    @include desktop {
        height: 622px;
        display: flex;

        &__image {
            height: 622px;
        }

        &__content {
            display: flex;
            flex-direction: row;
            position: relative;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            height: auto;

            &__title {
                display: flex;
                flex-direction: column;
                position: relative;
                height: 259px;

                &--song {
                    width: 504px;
                }
            }

            &__soundcloud {
                display: flex;
                position: relative;
                top: 0px;
                max-width: 400px;
            }
        }
    }
}


.shows-section {
    display: flex;
    flex-direction: column;

    &__title {
        @include page-header-section-header-mobile;
        padding-left: 16px;
        margin-bottom: 0px;
    }

    &__contents {
        height: fit-content;
    }

    @include tablet {
        &__title {
            @include section-header-desktop;
            margin-left: 16px;
            margin-bottom: 36px;
        }
        &__contents {
            max-width: max-content;
        }
    }

    @include desktop {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-evenly;
    }
}

.show {
    padding: 16px 16px 16px 16px;
    border-bottom: 1px solid $secondary-mercury;
    display: flex;
    flex-direction: column;
    background-color: $primary-white;

    &--hover {
        transition: 0.5s;
    }
    &--hover:hover {
        background-color: $secondary-alabaster;
    }

    &--active {
        transition: 0.5s;
    }
    &--active:active {
        background-color: $secondary-mercury;
    }

    &__label {
        @include labels-buttons-mobile;
        color: $primary-silver;
        margin: 0px;
        &--top {
            padding-top: 16px;
        }

        &--bigscreen {
            @include labels-buttons-mobile;
            color: $primary-silver;
            margin: 0px;
            display: none;

        }
    }

    &__info {
        @include body-copy-mobile;
        color: $secondary-dark-black;
        margin: 0px;
        padding-bottom: 15px;
        min-width: 11rem;
    }

    &__button {
        height: 40px;


        &--interior { 
            background-color: $primary-black;
            color: $primary-white;
            border-radius: 4px;
            border: solid black 1px;
            padding: 8px;
            @include subheader-mobile;
            width: 100%;
        }
    }

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        padding: 14px;
        margin-right: 16px;
        margin-left: 16px;
        align-items: baseline;
        

        &__label {
            display: none;

            &--bigscreen {
                display: flex;
                padding-right: 16px;
                padding-left: 16px;
                width: 100%;
                margin-left: 16px;
                margin-left: 16px;
                @include labels-buttons-desktop;

                &--each {
                    min-width: 10.5rem;
                }
            }
        }

        &__info {
            @include body-copy-desktop;
            min-width: 10.5rem;
        }

        &__button {

            &--interior {
                width: 150px;
            }
        }
    }

    @include desktop {

        &__label {

            &--bigscreen {

                &--each {
                    min-width: 13.5rem;
                }
            }
        }
        &__info {
            min-width: 13.5rem;
        }
    }
}

.footer {
    color: $primary-white;
    background-color: $primary-black;
    padding: 16px;
    display: flex;
    flex-direction: column;

    &__contacts--padding {
        padding-top: 1px;
    }

    &__title {
        @include page-header-section-header-mobile;
        margin-bottom: 11px;
        margin-top: 8px;
    }

    &__socials {
        display: flex;
        margin-top: 4px;
        margin-bottom: -2px;

        &--instagram {
            width: 1.375rem;
            height: 1.625rem;
        }

        &--facebook {
            padding-left: 30px;
            padding-right: 30px;
            width: 0.75rem;
            height: 1.5rem;
        }

        &--twitter {
            width: 1.6875rem;
            height: 1.625rem;
        }
    }

    &__bees-knees {
        margin-top: 8px;
        margin-bottom: 15px;
        @include footer-copy-mobile;
    }

    &__limitless {
        margin-top: 14px;
        margin-bottom: 15px;
        @include footer-copy-mobile;
    }

    &__arch {
        margin-top: 12px;
        margin-bottom: 15px;
        @include footer-copy-mobile;
    }

    &__link {
        text-decoration: none;
        color: $primary-white;
    }

    &__logo {

        &--top {
            display: none;
        }

        &--bottom {
            padding-top: 35px;
            padding-bottom: 5px;
        }
    }

    &__copyright {
        @include labels-buttons-mobile;
        margin-top: 8px;
        margin-bottom: 6px;
    }

    @include tablet {
        padding: 30px;
        height: 19.4375rem;

        &__title__socials {
            display: flex;
            padding-top: 8px;
            align-items: center;
            justify-content: space-between;
        }

        &__title {
            @include section-header-desktop;
        }

        &__socials {
            position: relative;
            left: 35px;
        }

        &__contacts {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include footer-copy-desktop
        } 

        &__bees-knees {

            &--location {
                padding-top: 17px;
                padding-bottom: 16px;
            }
        }

        &__limitless {
            position: relative;
            bottom: 5px;

            &--location {
                padding-top: 17px;
                padding-bottom: 16px;
            }
        }

        &__arch {

            &--location {
                padding-top: 17px;
                padding-bottom: 16px;
            }

            &--title {
                margin-top: 4px;
            }
        }

        &__logo {

            &--top {
                display: flex !important;
                flex-direction: row;
            }
    
            &--bottom {
                padding-top: 35px;
                padding-bottom: 5px;
                display: none
            }
        }

        &__copyright {
            @include footer-copy-desktop
        }
    }

    @include desktop {
        padding: 19px;
        height: 21.1875rem;
        padding-left: 128px;

        &__content {
            padding-right: 117px;
        }

        &__title__socials {
            padding-top: 9px;
        }

        &__socials {
            top: 0px;
            left: 57px;
        }

        &__contacts {
            width: 44.875rem;

            &--padding {
                padding-top: 13px;
            }
        } 

        &__limitless {
            bottom: 1px;
        }
    }
}