@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../assets/fonts/Alternative files/AvenirNextLTPro-Regular") format();
  font-weight: 400;
}
.normal {
  font-family: "Avenir Next Regular";
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next Demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  src: url("../assets/fonts/Alternative files/AvenirNextLTPro-Demi") format();
  font-weight: 600;
}
.demi {
  font-family: "Avenir Next Demi";
  font-weight: 600;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../assets/fonts/Alternative files/AvenirNextLTPro-Bold") format();
  font-weight: 700;
}
.bold {
  font-family: "Avenir Next Bold";
  font-weight: 700;
}

body {
  margin: 0rem;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

.nav-bar__subheading--hover {
  transition: 0.5s;
}
.nav-bar__subheading--hover:hover {
  color: #FFFFFF;
}
.nav-bar__subheading--biography {
  color: #E1E1E1;
}
.nav-bar__subheading--shows {
  border-bottom: 4px white solid;
}
@media (min-width: 768px) {
  .nav-bar__subheading--hover:hover {
    padding-bottom: 35px;
  }
  .nav-bar__subheading--biography {
    font-family: "Avenir Next Regular";
  }
  .nav-bar__subheading--shows {
    border-bottom: 3px white solid;
    padding-bottom: 24px;
  }
}
@media (min-width: 1280px) {
  .nav-bar__subheading--hover:hover {
    padding-bottom: 45px;
  }
  .nav-bar__subheading--biography {
    font-family: "Avenir Next Regular";
  }
  .nav-bar__subheading--shows {
    padding-bottom: 33px;
  }
}

.hero {
  height: 16.75rem;
  width: 100%;
  background: rgb(50, 50, 50);
  overflow: hidden;
}
.hero__image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 16.75rem;
  width: 100%;
  opacity: 0.5;
  position: absolute;
}
.hero__content {
  display: flex;
  flex-direction: column;
  padding: 14px;
  height: -webkit-fill-available;
}
.hero__content__title {
  display: flex;
  flex-direction: column;
  color: white;
  height: 7.25rem;
  padding-bottom: 16px;
}
.hero__content__title--album {
  font-size: 0.875rem;
  line-height: 1.375rem;
  position: relative;
  top: 1px;
}
.hero__content__title--song {
  font-size: 1.5rem;
  line-height: 2rem;
  position: relative;
  bottom: 24px;
  width: 12.8125rem;
}
.hero__content__soundcloud {
  display: flex;
  height: 5.9375rem;
  z-index: 3;
  top: 220px;
  width: 18rem;
  border-radius: 7px;
}
@media (min-width: 768px) {
  .hero {
    height: 30.3125rem;
  }
  .hero__image {
    height: 30.3125rem;
  }
  .hero__content {
    padding: 34px;
    height: 26.875rem;
  }
  .hero__content__title {
    height: 13rem;
    position: relative;
  }
  .hero__content__title--album {
    font-size: 1.5rem;
  }
  .hero__content__title--song {
    font-size: 3.75rem;
    line-height: 4.375rem;
    bottom: 76px;
    width: 600px;
  }
  .hero__content__soundcloud {
    top: 321px;
    height: 8.5rem;
    width: 26rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 38.875rem;
    display: flex;
  }
  .hero__image {
    height: 38.875rem;
  }
  .hero__content {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
  }
  .hero__content__title {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 16.1875rem;
  }
  .hero__content__title--song {
    width: 31.5rem;
  }
  .hero__content__soundcloud {
    display: flex;
    position: relative;
    top: 0px;
    max-width: 25rem;
  }
}

.shows-section {
  display: flex;
  flex-direction: column;
}
.shows-section__title {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-left: 16px;
  margin-bottom: 0px;
}
.shows-section__contents {
  height: -moz-fit-content;
  height: fit-content;
}
@media (min-width: 768px) {
  .shows-section__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-left: 16px;
    margin-bottom: 36px;
  }
  .shows-section__contents {
    max-width: -moz-max-content;
    max-width: max-content;
  }
}
@media (min-width: 1280px) {
  .shows-section {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
  }
}

.show {
  padding: 16px 16px 16px 16px;
  border-bottom: 1px solid #E1E1E1;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
.show--hover {
  transition: 0.5s;
}
.show--hover:hover {
  background-color: #FAFAFA;
}
.show--active {
  transition: 0.5s;
}
.show--active:active {
  background-color: #E1E1E1;
}
.show__label {
  font-size: 0.625rem;
  line-height: 1.25rem;
  color: #AFAFAF;
  margin: 0px;
}
.show__label--top {
  padding-top: 16px;
}
.show__label--bigscreen {
  font-size: 0.625rem;
  line-height: 1.25rem;
  color: #AFAFAF;
  margin: 0px;
  display: none;
}
.show__info {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #000000;
  margin: 0px;
  padding-bottom: 15px;
  min-width: 11rem;
}
.show__button {
  height: 2.5rem;
}
.show__button--interior {
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 4px;
  border: solid black 1px;
  padding: 8px;
  font-size: 0.875rem;
  line-height: 1.375rem;
  width: 100%;
}
@media (min-width: 768px) {
  .show {
    flex-direction: row;
    justify-content: space-between;
    padding: 14px;
    margin-right: 16px;
    margin-left: 16px;
    align-items: baseline;
  }
  .show__label {
    display: none;
  }
  .show__label--bigscreen {
    display: flex;
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
    margin-left: 16px;
    margin-left: 16px;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  .show__label--bigscreen--each {
    min-width: 10.5rem;
  }
  .show__info {
    font-size: 0.875rem;
    line-height: 1.375rem;
    min-width: 10.5rem;
  }
  .show__button--interior {
    width: 9.375rem;
  }
}
@media (min-width: 1280px) {
  .show__label--bigscreen--each {
    min-width: 13.5rem;
  }
  .show__info {
    min-width: 13.5rem;
  }
}/*# sourceMappingURL=shows.css.map */