@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;
@use '../styles/partials/fonts' as *;

body {
    margin: 0rem;
    overflow-x: hidden;
}
main {
    overflow-x: hidden;
}

* {
    border: red 1px dotted;
}

.nav-bar {
    background-color: $primary-black;
    display: flex;
    flex-direction: column;

    &__heading {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 13px;
    }

    &__subheading {
        display: flex;
        width: 100%;

        &--hover {
            transition: 0.5s;
        }

        &--hover:hover {
            border-bottom: 4px white solid;
            padding-bottom: 7px;
        }

        &--biography {
            width: 50%;
            font-size: 0.875rem;
            line-height: 1.375rem;
            text-align: center;
            color: $primary-white;
            justify-content: center;
            @include subheader-mobile;
            // border-bottom: 4px white solid;
            // padding-bottom: 7px;
        }

        &--shows {
            width: 50%;
            font-size: 0.875rem;
            line-height: 1.375rem;
            text-align: center;
            color: $primary-white;
            justify-content: center;
            border-bottom: 4px white solid;
            padding-bottom: 7px;
            @include subheader-mobile;
        }

        &--linkstyle {
            text-decoration: none;
        }
    }

    @include tablet {
        flex-direction: row;
        height: 4.5rem;

        &__heading {
            padding-top: 27px;
            padding-left: 38px;
        }

        &__subheading {
            padding-top: 1px;
            width: 7.125rem;

            &--hover:hover {
                border-bottom: 10px white solid;
                padding-bottom: 40px;
            }

            &--biography {
                position: relative;
                top: 21px;
                left: 60px;
                // border-bottom: 3px white solid;
                // padding-bottom: 35px;
                height: 0.625rem;
            }

            &--shows {
                position: relative;
                left: 122px;
                top: 21px;
                border-bottom: 3px white solid;
                // padding-bottom: 3px;
            }
        }
    }

    @include desktop {
        height: 5.3125rem;

        &__heading {
            padding-top: 31px;
            padding-left: 116px;
        }

        &__subheading {
            padding-top: 1px;
            padding-bottom: 55px;
            width: 7.125rem;

            &--hover:hover {
                border-bottom: 3px white solid;
                // padding-bottom: 50px;
            }

            &--biography {
                font-family: 'Avenir Next Demi';
                // border-bottom: white 3px solid;
                top: 25px;
                left: 54px;
            }

            &--shows {
                left: 83px;
                top: 25px;
                border-bottom: white 3px solid;
            }
        }
    }
}

.hero {
    height: 268px;
    width: 100%;
    background: rgba(50, 50, 50);
    overflow: hidden;

    &__image {
        object-fit: cover;
        height: 268px;
        width: 100%;
        opacity: 0.5;
        position: absolute;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 14px;

        &__title {
            display: flex;
            flex-direction: column;
            position: absolute;
            color: white;
    
            &--album {
                @include subheader-mobile;
                position: relative;
                top: 1px;
                // left: 14px;
            }
    
            &--song {
                @include page-header-section-header-mobile;
                position: relative;
                bottom: 24px;
                // height: 50px;
                // left: 14px;
            }
        }
    
        &__soundcloud {
            display: flex;
            height: 95px;
            background-color: white;
            position: relative;
            top: 128px;
            width: 100%;
            border-radius: 7px;
        }
    }

    @include tablet {
        height: 485px;

        &__image {
            height: 485px;

        }

        &__content {
            padding: 34px;

            &__title--album {
                font-size: 24px;
            }

            &__title--song {
                font-size: 60px;
                line-height: 70px;
                bottom: 76px;
            }

            &__soundcloud {
                top: 250px;
                height: 136px;
                width: 416px;
            }
        }
    }

}

//     &__image {
//         width: 100%;
//         position: absolute;
//         height: 16.6875rem;
//         object-fit: cover;

//         &--overlay {
//             position: absolute;
//             height: 16.6875rem;
//             // object-fit: cover;
//             top: 79px;
//             left: 0;
//             right: 0;
//             bottom: 0;
//             background-color: rgba(50, 50, 50, 0.5);
//             z-index: 1;
//         }
//     }
    

//     &__title {
//         display: flex;
//         flex-direction: column;

//         &--album {
//             position: relative;
//             left: 12px;
//             top: 12px;
//             color: $primary-white;
//             @include subheader-mobile;
//         }

//         &--song {
//             color: $primary-white;
//             // top: 72px;
//             // left: 10px;
//             // position: absolute;
//             -ms-transform: translateY(-50%);
//             transform: translateY(-50%);
//             @include page-header-section-header-mobile;
//             z-index: 2;
//         }
//     }
    
//     // &--song {
//     //     color: $primary-white;
//     //     top: 72px;
//     //     left: 10px;
//     //     position: absolute;
//     //     -ms-transform: translateY(-50%);
//     //     transform: translateY(-50%);
//     //     @include page-header-section-header-mobile;
//     //     z-index: 2;
//     // }

//     @include tablet {
//         // display: flex;
//         // flex-direction: column;
//         &__image {
//             height: 28.0625rem;

//             &--overlay {
//                 top: 72px;
//                 height: 28.0625rem;
//             }
//         }

//         &--overlay {
//             display: flex;
//             flex-direction: column;

//             &__title {
//                 &--song {
//                     // top: 157px;
//                     // left: 40px;
//                     // @include page-header-desktop;
//                     font-size: 50px;
//                     line-height: 30px;
//                 }
//                 &--song2 {
//                     // top: 50px;
//                 }
//             }
//         }
        
        
        
//     }

//     @include desktop {

//         &__image {
//             height: 39.25rem;

//             &--overlay {
//                 top: 85px;
//                 height: 39.25rem;
//             }
//         }

//         &__title {
//             top: 238px;
//             left: 103px;
//         }
//     }
// }

.shows {
    height: 400px;

    &__title {
        @include page-header-section-header-mobile;
        position: relative;
        top: 4px;
        left: 16px;
    }

    @include tablet {
        &__title {
            @include section-header-desktop;
            top: 4px;
            left: 35px;
        }
    }

    @include desktop {
        &__title {
            left: 133px;
        }
    }
}







.footer {
    color: $primary-white;
    background-color: $primary-black;
    padding: 16px;
    display: flex;
    flex-direction: column;

    &__contacts--padding {
        padding-top: 1px;
    }

    &__title {
        @include page-header-section-header-mobile;
        margin-bottom: 11px;
        margin-top: 8px;
    }

    &__socials {
        display: flex;
        margin-top: 4px;
        margin-bottom: -2px;

        &--instagram {
            width: 1.375rem;
            height: 1.625rem;
        }

        &--facebook {
            padding-left: 30px;
            padding-right: 30px;
            width: 0.75rem;
            height: 1.5rem;
        }

        &--twitter {
            width: 1.6875rem;
            height: 1.625rem;
        }
    }

    &__bees-knees {
        margin-top: 8px;
        margin-bottom: 15px;
        @include footer-copy-mobile;
    }

    &__limitless {
        margin-top: 14px;
        margin-bottom: 15px;
        @include footer-copy-mobile;
    }

    &__arch {
        margin-top: 12px;
        margin-bottom: 15px;
        @include footer-copy-mobile;
    }

    &__link {
        text-decoration: none;
        color: $primary-white;
    }

    &__logo {

        &--top {
            display: none;
        }

        &--bottom {
            padding-top: 35px;
            padding-bottom: 5px;
        }
    }

    &__copyright {
        @include labels-buttons-mobile;
        margin-top: 8px;
        margin-bottom: 6px;
    }

    @include tablet {
        padding: 30px;
        height: 19.4375rem;

        &__title__socials {
            display: flex;
            padding-top: 8px;
            align-items: center;
            justify-content: space-between;
        }

        &__title {
            @include section-header-desktop;
        }

        &__socials {
            position: relative;
            left: 35px;
        }

        &__contacts {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include footer-copy-desktop
        } 

        &__bees-knees {

            &--location {
                padding-top: 17px;
                padding-bottom: 16px;
            }
        }

        &__limitless {
            position: relative;
            bottom: 5px;

            &--location {
                padding-top: 17px;
                padding-bottom: 16px;
            }
        }

        &__arch {

            &--location {
                padding-top: 17px;
                padding-bottom: 16px;
            }

            &--title {
                margin-top: 4px;
            }
        }

        &__logo {

            &--top {
                display: flex !important;
                flex-direction: row;
            }
    
            &--bottom {
                padding-top: 35px;
                padding-bottom: 5px;
                display: none
            }
        }

        &__copyright {
            @include footer-copy-desktop
        }
    }

    @include desktop {
        padding: 19px;
        height: 21.1875rem;
        padding-left: 128px;

        &__content {
            padding-right: 117px;
        }

        &__title__socials {
            padding-top: 9px;
        }

        &__socials {
            top: 0px;
            left: 57px;
        }

        &__contacts {
            width: 44.875rem;

            &--padding {
                padding-top: 13px;
            }
        } 

        &__limitless {
            bottom: 1px;
        }
    }
}